body {
  background-color:#96DDEB
}

h3 {
  color: #F7E864 ;
  text-align: center;
  font-size: 45px;
}

h2 {
  font-size: 25px;
  color:#1BA9B9;
  font-family: alegreya;
}

b {
  color:#0997AD;
  fontsize:50px;
  font-family: alegreya;
}

p {font-size: 35px;
font-family: alegreya;
color:#2D4F55;
}

ul {list-style-type: circle;
font-family: alegreya;
font-size: 20px;
color:#3C6972;
}

table {
  tr: hover;
  width: 30%;
  text-align: center;
  border: dashed 3px black;
  border-color: #2D4F55;
  border-collapse: collapse;
  font-family:alegreya;
  font-size: 20px;
  color:#41AAC4
}

a {
  font-size: 30px;
  color:#07B6BD;
  font-family: alegreya;
}
